.container {
  font-size: 14px;

  padding: 8px 16px;

  border: 1px solid #000;
  border-radius: 4px;

  background-color: #fff;

  cursor: pointer;

  &:hover {
    background-color: #f0f0f0;
  }
}

.disabled {
  cursor: not-allowed;

  border: 1px solid #f0f0f0;

  &:hover {
    background-color: #fff;
  }
}
